body {
  margin: 0;
  background: #ffe6f0;
  font-family: "Noto Sans JP", sans-serif;
}

header {
  background: #ffffff;
  padding: 20px 0;
  text-align: center;
  border-bottom: 4px solid #ff3e9e;
}

.title-logo {
  margin: 0;
  font-size: 42px;
  font-weight: 900;
  letter-spacing: 2px;
  color: white;
  -webkit-text-stroke: 3px #ff3e9e;
}

.wrap {
  max-width: 760px;
  margin: 30px auto;
  padding: 0 20px;
}

.video {
  text-align: center;
}
