body{
  margin:0;
  font-family:sans-serif;
  background:#ffe6f0;
  line-height:1.7;
}

header{
  background:#ffffff;
  padding:20px 0;
  text-align:center;
  border-bottom:3px solid #ff7bbd;
}

.title-logo{
  font-weight:900;
  color:#fff;
  font-size:42px;
  letter-spacing:2px;
  text-shadow:
    3px 3px 0 #ff3e9e,
   -3px 3px 0 #ff3e9e,
    3px -3px 0 #ff3e9e,
   -3px -3px 0 #ff3e9e,
    0px 3px 0 #ff3e9e,
    3px 0px 0 #ff3e9e,
    0px -3px 0 #ff3e9e,
   -3px 0px 0 #ff3e9e;
}

.wrap{
  max-width:760px;
  margin:30px auto;
  padding:0 20px;
}
